<div class="jumbotron">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <ul class="nav nav-pills col-xs-8 col-sm-8 col-md-8 col-md-offset-2">
  <li><p class='navbar-text'>Documentation <span class="glyphicon glyphicon-chevron-right"></span></p></li>
  {{#versions}}
  <li style="width:20px">&nbsp;</li>
  <li class="active"><a href="{{branch}}/index.html">Version {{version}}&nbsp;{{#is_devel}}&nbsp;&nbsp;&nbsp;
  <span style="
	position: absolute;
    top: 5px;
    right: -15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     transform: rotate(45deg);
     filter: progid:DXImageTransform.Microsoft.Matrix(M11='0.7071067811865476', M12='-0.7071067811865475', M21='0.7071067811865475', M22='0.7071067811865476', sizingMethod='auto expand');" 
     class="label label-danger">devel</span>{{/is_devel}}</a></li>
     {{#is_devel}}<li style="width:20px">&nbsp;</li>{{/is_devel}}
  {{/versions}}
  </ul>
  <br />
</div>
